USE [JarBird]
GO
/****** Object:  Table [dbo].[Korzina]    Script Date: 17.04.2026 6:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korzina](
	[IDKorzina] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
	[IDProduct] [int] NULL,
	[Quantity] [int] NULL,
	[PriceInOrder] [float] NULL,
	[LineTotal] [float] NULL,
 CONSTRAINT [PK_Korzina] PRIMARY KEY CLUSTERED 
(
	[IDKorzina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17.04.2026 6:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IDOrders] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryAddress] [nvarchar](255) NULL,
	[IDUser] [int] NULL,
	[IDStatus] [int] NULL,
	[OrderDate] [datetime] NULL,
	[DeliveryDate] [datetime] NULL,
	[IDProduct] [int] NULL,
	[Quantity] [int] NULL,
	[PriceInOrder] [float] NULL,
	[LineTotal] [float] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[IDOrders] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17.04.2026 6:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[IDProduct] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[IDProductType] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Composition] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[DiscountProcent] [int] NULL,
	[IsDiscountActive] [bit] NULL,
	[MinStock] [int] NULL,
	[QuantityInStock] [int] NULL,
	[ImagePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 17.04.2026 6:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[IDProductType] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[IDProductType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17.04.2026 6:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IDRole] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](255) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IDRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 17.04.2026 6:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[IDStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[IDStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.04.2026 6:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Mail] [nvarchar](255) NULL,
	[IDRole] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IDOrders], [DeliveryAddress], [IDUser], [IDStatus], [OrderDate], [DeliveryDate], [IDProduct], [Quantity], [PriceInOrder], [LineTotal]) VALUES (1, N'г. Москва, ул. Ленина, д. 15, кв. 24', 1, 1, CAST(N'2026-03-10T10:15:00.000' AS DateTime), CAST(N'2026-03-12T18:00:00.000' AS DateTime), 3, 4, 357, 714)
INSERT [dbo].[Orders] ([IDOrders], [DeliveryAddress], [IDUser], [IDStatus], [OrderDate], [DeliveryDate], [IDProduct], [Quantity], [PriceInOrder], [LineTotal]) VALUES (2, N'г. Москва, ул. Ленина, д. 15, кв. 24', 1, 1, CAST(N'2026-03-10T10:15:00.000' AS DateTime), CAST(N'2026-03-12T18:00:00.000' AS DateTime), 3, 1, 316.79, 316.79)
INSERT [dbo].[Orders] ([IDOrders], [DeliveryAddress], [IDUser], [IDStatus], [OrderDate], [DeliveryDate], [IDProduct], [Quantity], [PriceInOrder], [LineTotal]) VALUES (3, N'г. Казань, ул. Победы, д. 7, кв. 12', 2, 2, CAST(N'2026-03-09T09:00:00.000' AS DateTime), CAST(N'2026-03-11T15:30:00.000' AS DateTime), 5, 3, 63.92, 191.76)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([IDProduct], [ProductName], [IDProductType], [Description], [Composition], [Price], [DiscountProcent], [IsDiscountActive], [MinStock], [QuantityInStock], [ImagePath]) VALUES (1, N'Арбидол', 1, N'Противовирусное средство', N'Умифеновир, крахмал, целлюлоза', 420, 15, 1, 10, 58, N'/images/arbidol.jpg')
INSERT [dbo].[Products] ([IDProduct], [ProductName], [IDProductType], [Description], [Composition], [Price], [DiscountProcent], [IsDiscountActive], [MinStock], [QuantityInStock], [ImagePath]) VALUES (2, N'Кетанов', 2, N'Обезболивающий препарат', N'Кеторолак, крахмал, магния стеарат', 185.5, 5, 1, 12, 103, N'/images/ketanov.jpg')
INSERT [dbo].[Products] ([IDProduct], [ProductName], [IDProductType], [Description], [Composition], [Price], [DiscountProcent], [IsDiscountActive], [MinStock], [QuantityInStock], [ImagePath]) VALUES (3, N'Антигриппин', 3, N'Антисептик широкого спектра действия', N'Бензилдиметил аммоний хлорид, вода очищенная', 359.99, 12, 1, 8, 47, N'/images/miramistin.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([IDProductType], [ProductTypeName]) VALUES (1, N'Капсулы')
INSERT [dbo].[ProductTypes] ([IDProductType], [ProductTypeName]) VALUES (2, N'Таблетки')
INSERT [dbo].[ProductTypes] ([IDProductType], [ProductTypeName]) VALUES (3, N'Спрей')
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IDRole], [Role]) VALUES (1, N'Пользователь')
INSERT [dbo].[Roles] ([IDRole], [Role]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([IDRole], [Role]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([IDStatus], [StatusName]) VALUES (1, N'Новый')
INSERT [dbo].[Statuses] ([IDStatus], [StatusName]) VALUES (2, N'Доставлен')
INSERT [dbo].[Statuses] ([IDStatus], [StatusName]) VALUES (3, N'Подтвержден')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IDUser], [FIO], [Login], [Password], [Mail], [IDRole]) VALUES (1, N'Иванов Пётр Сергеевич', N'ivanov_ps', N'user123', N'ivanov@mail.ru', 1)
INSERT [dbo].[Users] ([IDUser], [FIO], [Login], [Password], [Mail], [IDRole]) VALUES (2, N'Соколова Анна Викторовна', N'sokolova_av', N'user123', N'sokolova@mail.ru', 1)
INSERT [dbo].[Users] ([IDUser], [FIO], [Login], [Password], [Mail], [IDRole]) VALUES (3, N'Крылов Максим Игоревич', N'manager', N'manager123', N'manager@mail.ru', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Korzina]  WITH CHECK ADD  CONSTRAINT [FK_Korzina_Products] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Products] ([IDProduct])
GO
ALTER TABLE [dbo].[Korzina] CHECK CONSTRAINT [FK_Korzina_Products]
GO
ALTER TABLE [dbo].[Korzina]  WITH CHECK ADD  CONSTRAINT [FK_Korzina_Users] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([IDUser])
GO
ALTER TABLE [dbo].[Korzina] CHECK CONSTRAINT [FK_Korzina_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Products] ([IDProduct])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[Statuses] ([IDStatus])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([IDUser])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductTypes] FOREIGN KEY([IDProductType])
REFERENCES [dbo].[ProductTypes] ([IDProductType])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Roles] ([IDRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
